body {
    background: url(http://i.stack.imgur.com/Y4kqW.png) repeat-x;
}

.button {

    display: inline-block;
    margin: 20px;
    width: 100px;
    height: 100px;
    background: url(http://i.stack.imgur.com/Y4kqW.png);
    cursor: pointer;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

box-shadow: 0(<>) 3px(^v) 20px(razmitie)

    box-shadow: 0 3px 20px rgba(0,0,0,0.25),inset 0 2px 0 rgba(255,255,255,.6), 0 2px 0 rgba(0,0,0, .1), inset 0 0 20px rgba(0,0,0,.1);

    -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.25),inset 0 2px 0 rgba(255,255,255,.6), 0 2px 0 rgba(0,0,0, .1), inset 0 0 20px rgba(0,0,0,.1);

    -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.25),inset 0 2px 0 rgba(255,255,255,.6), 0 2px 0 rgba(0,0,0, .1), inset 0 0 20px rgba(0,0,0,.1);

}

.button:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,.4), inset 0 2px 0 rgba(0,0,0,.1)
}

.button::after {
    content: '';
    width: 100px;
    height: 100px;
    display: block;
    opacity: .7;
}

.btn-photo::after {

    background: url(http://findicons.com/files/icons/743/rumax_ip/48/photo_camera.png) center no-repeat;
}

.btn-settings::after {

    background: url(http://findicons.com/files/icons/573/must_have/48/settings.png) center no-repeat;
}

.btn-tag::after {

    background: url(http://findicons.com/files/icons/2222/gloss_basic/32/tag_red.png) center no-repeat;
}

.button:hover::after {
    background-position: center 52%;
}




