doctype html
html
    head
        title Page A
    body
        h1 This page A
        p lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
        include include/test

