ul {
    font-family: Arial;
    color: #333;
    padding: 0;


/*
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url(http://www.3dtotal.com/newsite/images/rating_blue.png);

*/

    list-style: inside square url(http://www.3dtotal.com/newsite/images/rating_blue.png);



}
