body {
  margin: 0;
  padding: 0;
  font: 1em Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: augustatwo;
  src: url("../fonts/augustatwo.ttf");
  font-weight: normal;
}
@font-face {
  font-family: augustatwo;
  src: url("../fonts/augustatwo.woff2");
  font-weight: bold;
}
@font-face {
  font-family: SEASRN__;
  src: url("../fonts/SEASRN__.ttf");
  font-weight: normal;
}
/* ------------ header-section -----------------------*/
.header-section {
  position: relative;
  background: url("../images/HeaderBG.png");
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  max-width: 2800px;
  height: 260px;
}
#menu-logo                  /*OK*/ {
  position: absolute;
  font-family: SEASRN__;
  color: #f6edd8;
  font-size: 188px;
  left: 50%;
  top: 130px;
  z-index: 3;
}
#header-menu-logo-rectangle {
  background-image: url("../images/Shape1.png") center no-repeat url("../images/Shape3.png") center no-repeat;
  position: absolute;
  left: 50%;
  top: 130px;
  z-index: 2;
}
.header-main-menu-aboutMe {
  position: absolute;
  font-family: augustatwo;
  color: #f6edd8;
  font-size: 40px;
  top: 120px;
  left: 15%;
  z-index: 2;
}
.header-main-menu-portfolio {
  position: absolute;
  font-family: augustatwo;
  color: #f6edd8;
  font-size: 40px;
  top: 120px;
  left: 35%;
  z-index: 2;
}
.header-main-menu-myBlog {
  position: absolute;
  font-family: augustatwo;
  color: #f6edd8;
  font-size: 40px;
  top: 120px;
  left: 70%;
  z-index: 2;
}
.header-main-menu-contactMe {
  position: absolute;
  font-family: augustatwo;
  color: #f6edd8;
  font-size: 40px;
  top: 120px;
  left: 90%;
  z-index: 2;
}
/* ------------ slider-section -----------------------*/
.slider-section {
  background-color: #79bbbb;
  height: 1827px;
}
.slider-main-title {
  background-color: #79bbbb;
  text-transform: uppercase;
  font-family: SEASRN__, Arial;
  font-size: 5.4em;
  height: 100px;
  padding: 50%;
  margin: 50% auto;
  text-shadow: 0 3px o #fff;
  color: #fff;
}
/* ------------ about-section -----------------------*/
.about-section {
  background-color: #ddd8c8;
  height: 1605px;
}
/* ------------ portfolio-section -----------------------*/
.portfolio-section {
  background-color: #e18a68;
  height: 1696px;
}
/* ------------ blog-section -----------------------*/
.blog-section {
  background-color: #dad5c5;
  height: 2104px;
}
/* ------------ contact-section -----------------------*/
.contact-section {
  background-color: #4c5055;
  height: 1646px;
}
