@import '../bower_components/normalize.styl/normalize.styl'
@import '../bower_components/Font-Awesome-Stylus/stylus/index.styl'
@import '../bower_components/rupture-by-jenius/rupture/index.styl'


ody
    max-width 2000px
    min-width 500px
.munu-about
    width 100px
