@charset "UTF-8";
.name_procedure {
  font-family: fantasy;
  font-size: 45px;
  padding-left: 50%;
  margin-bottom: 30px; }

.name_procedure:first-letter {
  color: red; }

.name_procedure:hover {
  text-decoration: underline; }

.name_procedure2 {
  /* background: linear-gradient(#fff 20%, #f00 50%, #0f0 100%); */
  background-image: url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body {
  /* background: linear-gradient(#fff 20%, #f00 50%, #0f0 100%); */
  /* background: linear-gradient(#fff 20%, #f00 50%, #0f0 100%); */
  background-image: url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.gallery {
  /* background: linear-gradient(#fff 20%, #f00 50%, #0f0 100%); */
  background-image: url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(img/disco.jpg);
  background-repeat: repeat; }

ul li {
  list-style-type: none; }

#menu {
  background: linear-gradient(#2222db 10%, #20baa3 40%, #278c9f 90%);
  font-size: 20px;
  font-family: fantasy;
  color: black; }

#menu ul li a:hover {
  color: #23f272; }

p span {
  background: rgba(255, 0, 0, 0.3); }

.catalog {
  font-family: fantasy;
  font-size: 25px; }

.catalog ul li {
  font-size: 15px;
  display: inline-block; }

.catalog list1 ul {
  color: fuchsia; }

.footer {
  font-family: fantasy;
  font-size: 15px;
  text-align: center;
  background: linear-gradient(#48f548 10%, #efef1e 40%, red 90%);
  height: 40px;
  padding-top: 20px; }

h1 {
  font-family: fantasy;
  font-size: 45px;
  padding-left: 50%;
  margin-bottom: 30px; }

h1:first-letter {
  color: red; }

h1:hover {
  text-decoration: underline; }

h2 {
  text-decoration-color: blueviolet;
  font-size: 20px;
  padding-left: 5px;
  color: coral; }

.art1 {
  color: #7e11c3;
  background: rgba(250, 231, 231, 0.46);
  text-decoration: none; }

.art2 {
  color: #7e11c3;
  background: rgba(250, 231, 231, 0.46);
  text-decoration: none; }

.art3 {
  color: #7e11c3;
  background: rgba(250, 231, 231, 0.46);
  text-decoration: none; }

.new {
  color: white;
  background: red;
  font-weight: 200; }

.cap {
  margin-left: 3px;
  width: 200px;
  text-transform: capitalize; }
  .cap:active {
    color: antiquewhite; }

.email_pass {
  /* Цвет фона */
  color: #d40808;
  /* Цвет текста */
  width: 150px; }
  .email_pass:focus {
    background-color: #2b1469;
    color: aquamarine; }

.pass:active {
  color: antiquewhite; }

.btnR {
  padding: 10px;
  margin-left: 30px;
  background-color: #e2dbe0;
  color: #161717;
  transition: 0.5s; }
  .btnR:hover {
    background-color: rgba(234, 170, 170, 0.62);
    color: #161717; }
  .btnR:active {
    background-color: #fc7d7d;
    color: #161717; }

.btnC {
  padding: 10px;
  margin-left: 40px;
  background-color: #e2dbe0;
  color: #161717;
  transition: 0.5s; }
  .btnC:hover {
    background-color: rgba(68, 222, 169, 0.58);
    color: #161717; }
  .btnC:active {
    background-color: #20bf88;
    color: #161717; }

.gender:hover {
  border: 1px dashed #f23020;
  box-sizing: content-box; }

.img_border {
  border: 2px solid transparent;
  margin: 2px; }
  .img_border:hover {
    border: 2px solid #dd22c7;
    margin: 2px; }

td {
  padding: 3px;
  margin: 3px;
  border: 1px solid #716c6c; }

#websait {
  margin-left: 3px;
  max-width: 200px; }

table {
  background: rgba(128, 128, 128, 0.29); }

.registarion {
  background: rgba(128, 128, 128, 0.29);
  max-width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px solid #b7b2b2;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 10px; }

.block {
  width: 240px;
  border-bottom: 0.5px solid #5f5f5f;
  border-right: 0.5px dashed #777575;
  height: 40px;
  text-align: left; }

.item19 {
  width: 400px; }

.item20 {
  width: 240px;
  border-right: 0.5px dashed #777575; }

.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.block-gallery {
  width: 250px; }

/*# sourceMappingURL=main.css.map */
