@font-face {
    font-family: 'Augusta Two';
    src: local('Augusta Two'), url('augustatwo.woff2') format('woff2'), url('augustatwo.woff') format('woff'), url('augustatwo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
