@font-face {
  font-family: augustatwo;
  src: url("../fonts/augustatwo.ttf");
  font-weight: normal;
}
@font-face {
  font-family: SEASRN__;
  src: url("../fonts/SEASRN__.ttf");
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 2800px;
  min-width: 350px;
  position: relative;
}
.menu-section {
  background: url("../images/HeaderBG.png") center no-repeat;
  height: 260px;
  width: 2800px;
  text-transform: uppercase;
  border: 1px dashed #000;
}
#menu-item {
  display: inline-block;
  position: relative;
  font-family: augustatwo;
  font-size: 80px;
  top: 0px;
  z-index: 2;
  padding: 80px;
  left: 50%;
}
#menu-logo {
  width: 400;
  height: 400;
  display: block;
  background: url("../images/Shape1.png") center no-repeat;
  position: absolute;
  font-family: SEASRN__;
  font-size: 140px;
  left: 50%;
  top: 130px;
  z-index: 4;
}
.slider-section {
  position: relative;
  background-color: #79bbbb;
  height: 1827px;
  width: 2800px;
  border: 1px dashed #000;
}
.slider-title {
  width: 400;
  height: 400;
  display: block;
  position: absolute;
  font-family: SEASRN__;
  font-size: 140px;
  left: 50%;
  top: 130px;
  z-index: 4;
}
#slider {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  border: 1px dashed #000;
}
.about-section {
  background-color: #ddd8c8;
  height: 1605px;
  width: 2800px;
  border: 1px dashed #000;
}
.portfolio-section {
  background-color: #e18a68;
  height: 1696px;
  width: 2800px;
  border: 1px dashed #000;
}
.blog-section {
  background-color: #dad5c5;
  height: 2104px;
  width: 2800px;
  border: 1px dashed #000;
}
.contact-section {
  background-color: #4c5055;
  height: 1646px;
  width: 2800px;
  border: 1px dashed #000;
}
